*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  font-family: "Bodoni Moda", serif;
}

.headers {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  position: relative;
  top: -80px;
}

.headers .contain {
  /* border: 1px solid blue; */
}

.headers ul {
  /* border: 1px solid red; */
  height: 100%;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 5px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  height: auto;
  min-height: 50px;
}

.holder {
  /* border: 1px solid orange; */
  background-color: #e7e7e7;
  margin-bottom: 5px;
}
.headers h2 {
  padding-top: 10px;
}
.headers h2.red {
  color: red;
}
.headers h2.blue {
  color: #0d6efd;
}
.headers h2.green {
  color: green;
}

.headers ul .each-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;
}
.headers ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px;
  margin-top: 10px;
  margin-right: 5px;
  color: white;
  text-transform: capitalize;
  cursor: grab;
  display: flex;
  text-align: center;
  width: 100%;
}

.headers ul i {
  /* margin-left: 3px; */
  display: block;
  height: 100%;
  font-size: 19px;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}
.headers ul i:hover {
  font-size: 21px;
}

.headers ul li.start {
  background: #dc3545;
}
.headers ul li.doing {
  background: #0d6efd;
}
.headers ul li.done {
  background: #198754;
}

.headers ul li:first-child {
  margin-top: 5px;
}

/* .headers ul li span.delete {
  display: none;
} */

/* hero */
/* "/src/image.jpg" */
.hero {
  height: 60vh;

  background: url("/src/image.jpg") no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-origin: initial;
}

.hero form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;
}
.hero form .center {
  display: flex;
  justify-content: center;
}
.hero form .center div {
  margin-right: 15px;
}

.instructions {
  color: black;
  margin-bottom: 15px;
}
.instructions h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.instructions ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.instructions ul li {
  margin-top: 8px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
